.checkbox {
    margin: 10px 0;
}

.checkbox label {
    color: #414141;
    font-family: "Gilroy";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: 0.42px;
    padding-left: 10px;
}